<div id="login" class="page-wrap gradient-primary">
    <div class="container">
        <h1 class="logo">
            <a href="/" title="Flippers">
                Flippers <img src="assets/images/dolphin-flip-upright-w.png">
            </a>
        </h1>
        <div class="content">
            <div class="panel">
                <h3>Log in to Flippers</h3>
                <form name="form" ng-submit="login(form)" role="form" novalidate>
                    <div class="form-group has-error" style="display: none;">
                        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                            Please enter your email and password.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.email && submitted">
                            Please enter a valid email.
                        </p>

                        <p class="help-block">{{ errors.other }}</p>
                    </div>

                    <div class="form-group">
                        <label for="email" class="sr-only">Email Address</label>
                        <div class="input-icon">
                            <span>
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input ng-model="user.email" type="email" id="email" name="email" class="form-control" placeholder="User@Domain.com"  required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <div class="input-icon">
                            <span>
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                            <input ng-model="user.password" type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <button class="bn btn-primary btn-lg btn-block" name="submit" type="submit" value="Sign In">Sign In</button>

                    <hr />

                    <div class="form-group">
                        <label for="oauth-google" class="sr-only">Google Sign In</label>
                        <a id="oauth-google" class="btn btn-google-plus btn-block" href="" ng-click="loginOauth('google')">
                            <i class="fa fa-google-plus"></i> Google+
                        </a>
                    </div>
                </form>

                <a href="/signup" class="panel-footer">New to Flippers? &nbsp; <span>Sign Up</span></a>
            </div>
            <a href="/account/password/reset">Forgot your password?</a>
        </div>
    </div>

</div>
