<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <alert ng-show="showHelp" type="info" close="closeHelp()">
            <div class="panel-body">
                <h3>Getting Started with Flippers</h3>
                <p>
                    Are you new to feature toggles?  Read <a href="">this explanation</a>.
                </p>
                <p>
                    Are you new to flippers?  Check out our <a href="">Getting Started guides</a>.
                </p>
            </div>
        </alert>
    </div>
</div>

<section class="features container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class='type'>Type</th>
                        <th class='key'>Key</th>
                        <th class='desc'>Description</th>
                        <th class='status'></th>
                        <th class='delete' ng-show="{{editingEnabled()}}"></th>
                    </tr>
                </thead>
                <tbody ng-repeat="toggle in toggles" ng-controller="ToggleItemCtrl">
                    <tr>
                        <td class='type'><span class="label label-info">{{toggle.type}}</span></td>
                        <td class='key'>{{toggle.key}}</td>
                        <td class='desc'>{{toggle.description}}</td>
                        <td class='status'>
                            <toggle-switch class="switch-success switch-small" html="true"
                                model="toggle.enabled"
                                ng-disabled="{{!editingEnabled()}}"
                                on-label="<i class='fa fa-check'></i>"
                                off-label="<i class='fa fa-remove'></i>" />
                        </td>
                        <td class='delete' ng-show="{{editingEnabled()}}">
                            <button type="button" class="close"
                                ng-click="deleteToggle(toggle)">&times;</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
