<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <alert ng-show="showHelp" type="info" close="closeHelp()">
            <div class="panel-body">
                <h3>Getting Started with Flippers</h3>
                <p>
                    Are you new to feature toggles?  Read <a href="">this explanation</a>.
                </p>
                <p>
                    Are you new to flippers?  Check out our <a href="">Getting Started guides</a>.
                </p>
            </div>
        </alert>
    </div>
</div>

<section class="features container">
    <div class="row table-header">
        <h5 class="pull-left">Features</h5>
        <div ng-show="canEdit" class="pull-right">
            <button ng-show="!editing" ng-click="edit()" class="btn btn-sm btn-default edit-button">Edit</button>
            <button ng-show="editing" ng-click="cancel()" class="btn btn-sm btn-link cancel-edit-button">Cancel</button>
            <button ng-show="editing" ng-click="save()" class="btn btn-sm btn-primary save-edit-button">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form name="form" novalidate>
                <table class="table table-striped editable-list">
                    <tbody>
                        <tr ng-repeat="item in toggles" ng-class="{'item-added': !item.persistent, 'item-deleted': item.deleted, 'item-persistent': item.persistent}">
                            <td class='type'>
                                <span class="label label-info">{{item.type}}</span>
                            </td>
                            <td class='key'>
                                <span>{{item.key}}</span>
                            </td>
                            <td class='desc'>
                                <span ng-show="!canModify(item)">{{item.description}}</span>
                                <div class="form-group" ng-show="canModify(item)">
                                    <input  ng-model="item.description" class="form-control" placeholder="Short description..." type="text" />
                                </div>
                            </td>
                            <td class='status'>
                                <toggle-switch class="switch-success switch-small" html="true"
                                    model="item.enabled"
                                    ng-disabled="!editing"
                                    on-label="<i class='fa fa-check'></i>"
                                    off-label="<i class='fa fa-remove'></i>" />
                            </td>
                            <td ng-show="editing" class='editable-item-action-cell delete text-right'>
                                <button ng-click="remove(item)" class="btn btn-link remove-item"><i class="fa fa-minus-circle"></i></button>
                            </td>
                        </tr>
                        <tr ng-show="editing" class="item-added item-new">
                            <td class="type">
                                <select ng-model="newToggle.type" ng-options="type as type for type in toggleTypes" class="form-control" required></select>
                            </td>
                            <td class="key">
                                <div class="form-group" ng-class="{ 'has-error': form.key.$invalid && form.key.$dirty }">
                                    <input name="key" ng-model="newToggle.key" class="form-control new-key" placeholder="feature-key" type="text" required />
                                </div>
                            </td>
                            <td class="description">
                                <div class="form-group" ng-class="{ 'has-error': form.desc.$invalid && form.desc.$dirty }">
                                    <input name="desc" ng-model="newToggle.description" class="form-control new-description" placeholder="Short description..." type="text" required />
                                </div>
                            </td>
                            <td class="status">
                                <toggle-switch class="switch-success switch-small" html="true"
                                    model="newToggle.enabled"
                                    ng-disabled="!editing"
                                    on-label="<i class='fa fa-check'></i>"
                                    off-label="<i class='fa fa-remove'></i>" />
                            </td>
                            <td class="editable-item-action-cell text-right">
                                <button type="submit" ng-click="add(newToggle)" ng-disabled="form.$invalid" class="btn btn-link add-item"><i class="fa fa-plus-circle"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>
