$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootswatch-scss/flatly/variables';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'bootswatch-scss/flatly/bootswatch';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

 html,body {
     height: 100%;
 }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -100px;
}

.gradient-primary {
    background-color: #3b2f63;
    background-image:
        radial-gradient(at 0 bottom,desaturate(lighten($brand-success, 10%), 10%) 0,rgba(0,72,160,0) 60%),
        radial-gradient(at 90% bottom,lighten($brand-success, 10%) 0,rgba(0,63,140,0) 40%),
        radial-gradient(at 50% top,rgba(0,90,182,0.6) 0,rgba(0,90,182,0) 75%),
        radial-gradient(at right top,lighten($brand-success, 20%) 0,rgba(0,74,162,0) 57%);
    background-size: auto,auto,100% 1000px,100% 1000px;
    background-repeat: no-repeat;
}

.panel {
    h3 {
        margin: 40px 0 0;
    }

    form {
        padding: 40px;
    }

    .panel-footer {
        padding: 20px;
        display: block;
        font-size: 17px;
        font-weight: 100;
        color: $gray-lighter;
    }

    a.panel-footer {
        text-decoration: none;
        color: $gray;

        span {
            text-decoration: underline;
            color: $link-color;
        }
    }
}

// Component styles are injected through grunt
// injector
@import '403/403.scss';
@import '404/404.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'app.forms.scss';
@import 'features/features.scss';
@import 'main/main.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
