.navbar {
    .navbar-brand img {
        height: 25px;
        width: 25px;
    }

    .avatar {
        position: relative;
        display: inline-block;
        float: left;
        border-radius: 50%;
        padding: 2px;
        margin-top: 6px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 45px;
        height: 45px;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    .avatar-email {
        display: inline-block;
        padding: 0 0 0 10px;
        float: left;
        width: calc(100% - 45px);
        line-height: 12px;

        h5 {
            position: relative;
            color: #fff;
            font-size: .9em;
            font-weight: normal;
            margin: 0;
            line-height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .dropdown-menu {
        margin-top: -10px;
        margin-left: -6px;
        font-size: 12px;

        .fa {
            position: relative;
            left: -8px;
        }
    }
}
