<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">flippers <img src="assets/images/dolphin-flip-upright-w.png"></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()">
            <div dropdown>
                <span class="avatar">
                    <img gravatar-src="getCurrentUser().email" gravatar-size="128" gravatar-default="retro" />
                </span>
                <a id="menuLabelUser" href="#" dropdown-toggle aria-haspopup="true" role="button" aria-expanded="false">
                    <div class="avatar-email">
                        <h5>{{ getCurrentUser().email }} <i class="fa fa-caret-down"></i></h5>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menuLabelUser">
                    <!--<li class="dropdown-header">Welcome, {{ getCurrentUser().name }}!</li>-->
                    <li><a href="/settings">Settings <span class="glyphicon glyphicon-cog"></span></a></li>
                    <li><a href="" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
